{% extends 'base.html' %}

{% block title %}
{{ object.first_name }}
{{ object.last_name }}
{% endblock %}

{% block main %}
    <h1>{{ object }}</h1>
    <h2>actor</h2>
    <ul>
    {% for role in object.role_set.all %}
        <li>
        <a href="{% url 'core:MovieDetail' pk=role.movie.id %}">{{ role.movie }}</a>
        饰演的角色:{{ role.name }}
        </li>
    {% endfor %}
    </ul>

    <h2>writer</h2>
    <ul>
    {% for movie in object.writing_credits.all %}
        <li>
        <a href="{% url 'core:MovieDetail' pk=movie.id %}">{{ movie }}</a>
        </li>
    {% endfor %}
    </ul>

    <h2>director</h2>
    <ul>
    {% for movie in object.directed.all %}
        <li>
        <a href="{% url 'core:MovieDetail' pk=movie.id %}">{{ movie }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}